.index-button {
    line-height: 50px;
    width: inherit;
    font-size: 24px;
    border-radius: 12px 12px 12px 12px;
}
h3 {
    color: #0088CC;
}
.modal form {
    margin: 0;
}

#key {
    text-align: center;
}

#key code {
    font-size: inherit;
}