<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JavaEE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.ryliu.j2ee.hw01.FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestProcess</display-name>
    <servlet-name>TestProcess</servlet-name>
    <servlet-class>com.ryliu.j2ee.hw01.TestProcess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestProcess</servlet-name>
    <url-pattern>/TestProcess</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ryliu.j2ee.hw01.chatroom.MySessionListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ChatroomLogin</display-name>
    <servlet-name>ChatroomLogin</servlet-name>
    <servlet-class>com.ryliu.j2ee.hw01.chatroom.ChatroomLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatroomLogin</servlet-name>
    <url-pattern>/chatroom/ChatroomLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChatroomChat</display-name>
    <servlet-name>ChatroomChat</servlet-name>
    <servlet-class>com.ryliu.j2ee.hw01.chatroom.ChatroomChat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatroomChat</servlet-name>
    <url-pattern>/chatroom/ChatroomChat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ryliu.j2ee.hw01.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthorityFilter</display-name>
    <filter-name>AuthorityFilter</filter-name>
    <filter-class>com.ryliu.j2ee.hw01.AuthorityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthorityFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>GetSourceServlet</display-name>
    <servlet-name>GetSourceServlet</servlet-name>
    <servlet-class>com.ryliu.j2ee.hw01.GetSourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSourceServlet</servlet-name>
    <url-pattern>/GetSourceServlet</url-pattern>
  </servlet-mapping>
</web-app>